body{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

table, td, th {
  border-collapse: collapse;
  border: 2px solid black;
}
th {
  padding: 1em;
}
td {
  padding: 0.5em;
}

tbody tr:nth-child(odd){
  background-color: rgb(216, 216, 216);
}
p {
  max-width: 800px;
}
li {
  max-width: 800px;
}
pre {
  background-color: lightgray;
  max-width: 1000px;
  font-size: 1.2em;
  padding: 1em;
  text-align: left;
}

.body-container{
  display: flex;
  flex-direction: column;
  align-items: left;

}
code {
  background-color: lightgray;
  padding: 0.1em;
  font-size: 1.3em;
}